name = "bat"
description = "A cat(1) clone with wings."
homepage = "https://github.com/sharkdp/bat"
alternatives = [ "cat",]
version = "0.26.1"
updated = "2025-12-02"
package-url = "https://github.com/sharkdp/bat/releases/download/v{{version}}/bat-v{{version}}-x86_64-unknown-linux-musl.tar.gz"
post-commands = [ "{{vars.bin-path}}/bat cache --build",]

[extract]
strip = 1

[[extract.files]]
source = "bat"
target = "{{vars.bin-path}}/bat"
mode = "0755"

[[extract.files]]
source = "autocomplete/bat.{{vars.shell-type}}"
target = "{{vars.complete-path}}/_bat"

#
# build configuration
#

[build]
package-url = "https://github.com/sharkdp/bat/releases/download/v{{version}}/bat-v{{version}}-x86_64-unknown-linux-musl.tar.gz"

[[build.publish]]
repository-name = "packages"
repository-path = "bat"
files = ["bat-v{{version}}-x86_64-unknown-linux-musl.tar.gz"]