name = "bottom"
description = "Yet another cross-platform graphical process/system monitor."
homepage = "https://github.com/ClementTsang/bottom"
alternatives = [ "top", "htop",]
version = "0.11.3"
updated = "2025-11-06"
package-url = "https://github.com/ClementTsang/bottom/releases/download/{{version}}/bottom_x86_64-unknown-linux-musl.tar.gz"

[extract]
strip = 0

[[extract.files]]
source = "btm"
target = "{{vars.bin-path}}/btm"
mode = "0755"

[[extract.files]]
source = "completion/{{vars.complete-prefix}}btm{{vars.complete-suffix}}"
target = "{{vars.complete-path}}/{{vars.complete-prefix}}btm{{vars.complete-suffix}}"
