name = "cmake"
description = "CMake, the cross-platform, open-source build system."
homepage = "https://github.com/Kitware/CMake"
alternatives = []
version = "3.31.5"
updated = "2025-01-23"
package-url = "https://github.com/Kitware/CMake/releases/download/v{{version}}/cmake-{{version}}-linux-x86_64.tar.gz"

[extract]
strip = 1
prefix = "{{vars.prefix-path}}"

#
# build configuration
#

[build]
package-url = "https://github.com/Kitware/CMake/releases/download/v{{version}}/cmake-{{version}}-linux-x86_64.tar.gz"

[[build.publish]]
repository-name = "packages"
repository-path = "cmake"
files = ["cmake-{{version}}-linux-x86_64.tar.gz"]
