name = "code-server"
description = "VS Code in the browser"
homepage = "https://coder.com"
alternatives = []
version = "4.99.3"
updated = "2025-04-17"
package-url = "https://github.com/coder/code-server/releases/download/v{{version}}/code-server-{{version}}-linux-amd64.tar.gz"
post-commands = ["ln -s /opt/code-server/bin/code-server {{vars.bin-path}}/code-server",]

[extract]
strip = 1
prefix = "/opt/code-server"
