name = "cppcheck"
description = "---"
homepage = "https://github.com/danmar/cppcheck"
alternatives = []
version = "2.18.3"
updated = "2025-09-03"
package-url = ""
query-url = "https://github.com/danmar/cppcheck/archive/refs/tags/{{version}}.tar.gz"

[extract]
strip = 0
prefix = "{{vars.prefix-path}}"

#
# build configuration
#

[build]
package-url = "https://github.com/danmar/cppcheck/archive/refs/tags/{{version}}.tar.gz"

[[build.script]]
name = "build_cppcheck.sh"
content = [
    "set -e",
    "apk add \\",
    "  binutils boost-dev boost-static cmake compiler-rt g++ \\",
    "  libunwind-static lld make musl-dev pcre-dev pcre-static python3 xz ",
    "rm /usr/lib/libpcre.so*",
    "tar xzf {{version}}.tar.gz --strip-components=1",
    "cmake -S . -B build \\",
    "  -D CMAKE_BUILD_TYPE=MinSizeRel \\",
    "  -D CMAKE_INSTALL_PREFIX=/usr \\",
    "  -D CMAKE_EXE_LINKER_FLAGS=-static \\",
    "  -D CMAKE_FIND_LIBRARY_SUFFIXES=.a \\",
    "  -D HAVE_RULES=ON \\",
    "  -D USE_MATCHCOMPILER=On",
    "cmake --build build --config MinSizeRel --target install/local",
    "strip --strip-all build/bin/cppcheck",
    "mkdir -p dist/bin dist/share/Cppcheck",
    "cp build/bin/cppcheck dist/bin",
    "cp -r build/bin/addons dist/share/Cppcheck/",
    "cp -r build/bin/cfg dist/share/Cppcheck/",
    "cp -r build/bin/platforms dist/share/Cppcheck/",
    "tar cJf cppcheck-{{version}}.linux.x86_64.tar.xz -C dist ."
]

[[build.step]]
command = ["podman", "run", "--rm", "-it", "-v", "$PWD:$PWD", "-w", "$PWD", "alpine:3.22", "sh", "build_cppcheck.sh"]

[[build.publish]]
repository-name = "packages"
repository-path = "cppcheck"
files = ["cppcheck-{{version}}.linux.x86_64.tar.xz"]
