name = "evil-helix"
description = "Bringing the Helix editor to the evil side"
homepage = "https://github.com/usagi-flow/evil-helix"
alternatives = [ "vim", "neovim", "helix" ]
version = "20241206"
updated = "2024-12-17"
package-url = "https://github.com/usagi-flow/evil-helix/releases/download/release-{{version}}/helix-amd64-linux.tar.gz"
version-pattern = "^release-\\d+$"

[extract]
strip = 1

[[extract.files]]
source = "hx"
target = "{{vars.bin-path}}/hx"
mode = "0755"

[[extract.files]]
source = "runtime"
target = "{{vars.bin-path}}/runtime"
is_folder = true

