name = "fzf"
description = "A command-line fuzzy finder"
homepage = "https://github.com/junegunn/fzf"
alternatives = [ "skim",]
version = "0.63.0"
updated = "2025-06-28"
package-url = "https://github.com/junegunn/fzf/releases/download/v{{version}}/fzf-{{version}}-linux_amd64.tar.gz"

[extract]
strip = 0
prefix = "{{vars.bin-path}}"

#
# build configuration
#

[build]
package-url = "https://github.com/junegunn/fzf/releases/download/v{{version}}/fzf-{{version}}-linux_amd64.tar.gz"

[[build.publish]]
repository-name = "packages"
repository-path = "fzf"
files = ["fzf-{{version}}-linux_amd64.tar.gz"]
