name = "hwatch"
description = "A modern alternative to the watch command, records the differences in execution results and can check this differences at after."
homepage = "https://github.com/blacknon/hwatch"
alternatives = [ "watch", "viddy", ]
version = "0.3.15"
updated = "2024-06-18"
package-url = "https://github.com/blacknon/hwatch/releases/download/{{version}}/hwatch-{{version}}.x86_64-unknown-linux-musl.tar.gz"

[extract]
strip = 0

[[extract.files]]
source = "bin/hwatch"
target = "{{vars.bin-path}}/hwatch"
mode = "0755"

[[extract.files]]
source = "completion/{{vars.shell-type}}/{{complete-prefix}}hwatch{{complete-suffix}}"
target = "{{vars.complete-path}}/_hwatch"
