name = "hyperfine"
description = "A command-line benchmarking tool"
homepage = "https://github.com/sharkdp/hyperfine"
alternatives = []
version = "1.18.0"
updated = "2023-10-05"
package-url = "https://github.com/sharkdp/hyperfine/releases/download/v{{version}}/hyperfine-v{{version}}-i686-unknown-linux-musl.tar.gz"

[extract]
strip = 1
[[extract.files]]
source = "hyperfine"
target = "{{vars.bin-path}}/hyperfine"
mode = "0755"

[[extract.files]]
source = "autocomplete/_hyperfine.{{vars.shell-type}}"
target = "{{vars.complete-path}}/_hyperfine"
