name = "mold"
description = "Mold: A Modern Linker"
homepage = "https://github.com/rui314/mold"
alternatives = ["ld", "lld", "gold"]
version = "2.39.1"
updated = "2025-05-13"
package-url = "https://github.com/rui314/mold/releases/download/v{{version}}/mold-{{version}}-x86_64-linux.tar.gz"

[extract]
strip = 1
prefix = "{{vars.prefix-path}}"

#
# build configuration
#

[build]
package-url = "https://github.com/rui314/mold/releases/download/v{{version}}/mold-{{version}}-x86_64-linux.tar.gz"

[[build.publish]]
repository-name = "packages"
repository-path = "mold"
files = ["mold-{{version}}-x86_64-linux.tar.gz"]
