name = "ninja"
description = "a small build system with a focus on speed"
homepage = "https://github.com/ninja-build/ninja"
alternatives = [ "make", "samurai",]
version = "1.13.2"
updated = "2025-11-20"
package-url = "https://github.com/ninja-build/ninja/releases/download/v{{version}}/ninja-linux.zip"

[extract]
prefix = "{{vars.bin-path}}"

#
# build configuration
#

[build]
package-url = "https://github.com/ninja-build/ninja/archive/refs/tags/v{{version}}.tar.gz"

[[build.script]]
name = "build_ninja.sh"
content = [
    "set -e",
    "tar xzf v{{version}}.tar.gz --strip-components=1",
    "cmake -S . -B build -D CMAKE_BUILD_TYPE=Release -D BUILD_TESTING=OFF",
    "cmake --build build",
    "cd build",
    "tar czvf ../ninja-{{version}}.tar.gz ninja"
]

[[build.step]]
command = ["xcc", "el7", "sh", "build_ninja.sh", "el7"]

[[build.publish]]
repository-name = "packages"
repository-path = "ninja"
files = ["ninja-{{version}}.tar.gz"]
