name = "protolint"
description = "A pluggable linter and fixer to enforce Protocol Buffer style and conventions"
homepage = "https://github.com/yoheimuta/protolint"
alternatives = [ ]
version = "0.50.5"
updated = "2024-08-08"
package-url = "https://github.com/yoheimuta/protolint/releases/download/v{{version}}/protolint_{{version}}_linux_amd64.tar.gz"
post-commands = [ "{{vars.bin-path}}/atuin gen-completions --shell {{vars.shell-type}} --out-dir {{vars.complete-path}}"]

[extract]
strip = 0

[[extract.files]]
source = "protolint"
target = "{{vars.bin-path}}/protolint"
mode = "0755"

[[extract.files]]
source = "protoc-gen-protolint"
target = "{{vars.bin-path}}/protoc-gen-protolint"
mode = "0755"
