name = "task"
description = "A task runner / simpler Make alternative written in Go"
homepage = "https://github.com/go-task/task"
alternatives = [ "make", "dotree", "just",]
version = "3.47.0"
updated = "2026-01-25"
package-url = "https://github.com/go-task/task/releases/download/v{{version}}/task_linux_amd64.tar.gz"

[extract]
strip = 0

[[extract.files]]
source = "task"
target = "{{vars.bin-path}}/task"
mode = "0755"

[[extract.files]]
source = "completion/bash/task.{{vars.shell-type}}"
target = "{{vars.complete-path}}/_task"
