name = "tealdeer"
description = "A very fast implementation of tldr in Rust."
homepage = "https://github.com/dbrgn/tealdeer"
alternatives = [ "tldr", "tlrc",]
version = "1.8.0"
updated = "2025-10-04"
package-url = "https://github.com/dbrgn/tealdeer/releases/download/v{{version}}/tealdeer-linux-x86_64-musl"
post-commands = [ "{{vars.bin-path}}/tldr --update",]

[extract]
strip = 0

[[extract.files]]
source = "tealdeer-linux-x86_64-musl"
target = "{{vars.bin-path}}/tldr"
mode = "0755"
