name = "vhs"
description = "Your CLI home video recorder"
homepage = "https://github.com/charmbracelet/vhs"
alternatives = []
version = "0.7.2"
updated = ""
package-url = "https://github.com/charmbracelet/vhs/releases/download/v{{version}}/vhs_{{version}}_Linux_x86_64.tar.gz"

[extract]
strip = 1
[[extract.files]]
source = "vhs"
target = "{{vars.bin-path}}/vhs"
mode = "0755"

[[extract.files]]
source = "completions/vhs.{{vars.shell-type}}"
target = "{{vars.complete-path}}/_vhs"

