name = "xh"
description = "Friendly and fast tool for sending HTTP requests"
homepage = "https://github.com/ducaale/xh"
alternatives = [ "httpie", "curlie",]
version = "0.24.1"
updated = "2025-05-02"
package-url = "https://github.com/ducaale/xh/releases/download/v{{version}}/xh-v{{version}}-x86_64-unknown-linux-musl.tar.gz"

[extract]
strip = 1

[[extract.files]]
source = "xh"
target = "{{vars.bin-path}}/xh"
mode = "0755"

[[extract.files]]
source = "completions/xh.{{vars.shell-type}}"
target = "{{vars.complete-path}}/_xh"
