name = "zoxide"
description = "A smarter cd command. Supports all major shells."
homepage = "https://github.com/ajeetdsouza/zoxide"
alternatives = []
version = "0.9.7"
updated = "2025-02-10"
package-url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{version}}/zoxide-{{version}}-x86_64-unknown-linux-musl.tar.gz"
post-commands = [ "grep -q 'zoxide' ~/.{{vars.shell-type}}rc || echo 'eval \"$(zoxide init {{vars.shell-type}})\"' >> ~/.{{vars.shell-type}}rc",]

[extract]
strip = 0

[[extract.files]]
source = "zoxide"
target = "{{vars.bin-path}}/zoxide"
mode = "0755"

[[extract.files]]
source = "complete/zoxide.{{vars.shell-type}}"
target = "{{vars.complete-path}}/_zoxide"
